<h1 class="clarity-h1"><span class="big-icon show-folder-heading-icon"><%= fa_icon("folder-open")%></span> Folder:  <%= @folder.name %></h1>
<!--<p id="notice"><%= notice %></p>-->
<div class="clarity-detail-box">
<p>
  <strong>ddddddd:</strong>
  <%#= @code_class.ancestors %>
</p>

<p>
  <strong>dddddd:</strong>
  <%#= @code_class.line %>
</p>
</div>

<p>
  <strong>Code files:</strong>
  <%#= @code_class.code_file.path %>
</p>
