<h1 class="clarity-h1" id="home-page-heading">Welcome to Clarity - a C++ Source Code Browser</h1>
<div class="home-page-main" id="home-page-main">
<strong>A client-server source code browser for teams of programmers</strong>

<h2>Current Features:</h2>
<ul>
<li>Multiple projects</li>
<li>Parse and display C++ code</li>
<li>Display folder hierarchy with number of files and lines of code</li>
<li>Zero in on classes, methods, namespaces</li>
<li>Hyperlinks to navigate the code</li>
</ul>

<h2>Technology:</h2>
<ul>
<li>Home grown recursive C++ parser</li>
<li>Tree-based intermediate structures</li>
<li>Rails server on the back end</li>
<li>Browser based Rails front end</li>
</ul>
</div>

<h1 class="clarity-h1" id="home-page-future">Clarity - Source Code Browser</h1>
<div class="home-page-main">
<h2>Future Direction:</h2>
<ul>
<li>Hyperlnks for method calls</li>
<li>User login</li>
<li>Comments, posts, questions and answers</li>
<li>Graph database instead of SQL</li>
<li>Thin client - React.js based, Chrome extension</li>
<li>Multiple language (Java, C#, Rails projects)</li> 
</ul>
</div>
